Cliente_Desktop/xml-resources/web-service-references/hello/wsdl/localhost_9999/ws/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.fernando.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.fernando.com/" name="HelloWorldImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.fernando.com/" schemaLocation="http://localhost:9999/ws/hello?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getUsuarioList"></message>
<message name="getUsuarioListResponse">
<part name="return" type="tns:usuarioArray"></part>
</message>
<message name="getArtistaList"></message>
<message name="getArtistaListResponse">
<part name="return" type="tns:artistaArray"></part>
</message>
<message name="getHelloWorldAsString">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getHelloWorldAsStringResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getClienteList"></message>
<message name="getClienteListResponse">
<part name="return" type="tns:clienteArray"></part>
</message>
<portType name="HelloWorld">
<operation name="getUsuarioList">
<input wsam:Action="http://ws.fernando.com/HelloWorld/getUsuarioListRequest" message="tns:getUsuarioList"></input>
<output wsam:Action="http://ws.fernando.com/HelloWorld/getUsuarioListResponse" message="tns:getUsuarioListResponse"></output>
</operation>
<operation name="getArtistaList">
<input wsam:Action="http://ws.fernando.com/HelloWorld/getArtistaListRequest" message="tns:getArtistaList"></input>
<output wsam:Action="http://ws.fernando.com/HelloWorld/getArtistaListResponse" message="tns:getArtistaListResponse"></output>
</operation>
<operation name="getHelloWorldAsString">
<input wsam:Action="http://ws.fernando.com/HelloWorld/getHelloWorldAsStringRequest" message="tns:getHelloWorldAsString"></input>
<output wsam:Action="http://ws.fernando.com/HelloWorld/getHelloWorldAsStringResponse" message="tns:getHelloWorldAsStringResponse"></output>
</operation>
<operation name="getClienteList">
<input wsam:Action="http://ws.fernando.com/HelloWorld/getClienteListRequest" message="tns:getClienteList"></input>
<output wsam:Action="http://ws.fernando.com/HelloWorld/getClienteListResponse" message="tns:getClienteListResponse"></output>
</operation>
</portType>
<binding name="HelloWorldImplPortBinding" type="tns:HelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getUsuarioList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</output>
</operation>
<operation name="getArtistaList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</output>
</operation>
<operation name="getHelloWorldAsString">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</output>
</operation>
<operation name="getClienteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws.fernando.com/"></soap:body>
</output>
</operation>
</binding>
<service name="HelloWorldImplService">
<port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
<soap:address location="http://localhost:9999/ws/hello"></soap:address>
</port>
</service>
</definitions>